<div id="chart" style="width: auto; height: 600px;"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%= javascript_tag do -%>
  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = JSON.parse('<%= @data.to_json.html_safe -%>');
    data.map(function(time) {
      hours = Math.floor(time[1] / 60);
      minutes = time[1] % 60;
      if (minutes < 10) {
        minutes = "0" + minutes;
      }
      time[1] = parseFloat(`${hours}.${minutes}`);
      return time;
    });
    data = [['Week/Day', 'Duration']].concat(data);
    data = google.visualization.arrayToDataTable(data);
    var options = {
      chart: {
        title: 'Duration',
      }
    };
    var view = new google.visualization.DataView(data);
    var chart = new google.charts.Bar(document.getElementById('chart'));
    chart.draw(view, options);
  }
<% end -%>

    <%# .map(function(time) {
      const hours = Math.floor(time[1] / 60);
      let minutes = time[1] % 60;
      if (minutes < 10) {
        minutes = "0" + minutes;
      }
      time[2] = `${hours}:${minutes}`;
      return time;
    }); %>