/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0%;
}

h1 {
    margin: 0%;
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 70px;
    background-color: darkred;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.session {
    font-family: 'ZCOOL XiaoWei', serif;
    text-align: center;
    margin: 0%;
}

.session div {
    margin-top: 30px;
}

.session h2 {
    font-size: 50px;
}

.session .inputs label {
    font-size: 30px;
}

.session .inputs input[type=email] {
    font-size: 30px;
    width: 500px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    margin-top: 10px;
}

.session .inputs input[type=password] {
    font-size: 30px;
    width: 500px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    margin-top: 10px;
}

.session label {
    font-size: 20px;
}

.session input[type=submit] {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 30px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.session a {
    font-size: 30px;
    text-decoration: none;
    color: black;   
}

.links {
    margin-top: 20px;
    text-align: right;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'PT Sans', sans-serif;
}

.links p {
    display: inline;
}

.links a {
    font-size: 25px;
    text-decoration: none;
    color: navy;
}

.links #logout {
    margin: 25px;
}

#create_task {
    /* text-align: center; */
    /* background-attachment: fixed; */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

#create_task input[type=text] {
    margin-right: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    font-family: 'PT Sans', sans-serif;
}

#create_task input[type=time] {
    margin-right: 10px;
    font-size: 20px;
    border-radius: 10px;
    /* width: 500px; */
    height: 50px;
    font-family: 'PT Sans', sans-serif;
}

#create_task #submit {
    font-size: 20px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}

#day_tasks {
    background-color: snow;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 50px;
}

#day_tasks .each_task {
    display: flex;
    /* flex-wrap: wrap;
    align-content: space-between; */
    justify-content: space-around;
}

#day_tasks p {
    font-size: 22px;
}

#day_tasks .day {
    margin-left: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 25px;
    color: navy;
}

#no_project {
    color: gray;
}

#select {
    display: inline;
}

/******************/
#show_s_e {
    display: none;
}

#show_stopwatch {
    display: none;
}

